.h1{
    font-size: 200px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    color: white;
    text-shadow: 10px 20px rgba(0, 0, 0, 0.724);
    overflow: hidden;
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;

}

body {
    font-family: arial;

}

a {
    text-decoration: none;
    color: aliceblue;

}

body {
    background-image: linear-gradient(rgb(127, 195, 235), rgb(56, 127, 151), rgb(12, 125, 170));
}

.container {
    height: 5vw;
    width: 100vw;
    display: grid;
    place-items: center;

}

.calculator {
    position: relative;
    height: auto;
    /* auto width */
    width: 450px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgb(15, 15, 14);
    background-color: rgb(11, 66, 92);
    cursor: pointer;
    transition: all 200ms ease;
    /* border: 5px solid rgb(15, 115, 139); */
    margin-top: -2800px;
}

.calculator:hover {
    transform: scale(1.15);
    background-color: rgb(6, 35, 49)
}


#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}


#display {
    margin: 0px 10px;
    height: 98px;
    width: 300px;
    max-width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(2, 24, 4);
    margin-bottom: 20px;
    overflow-x: scroll;
    text-align: left;
}

.display-screen {
    width: 100%;
    height: 90%;
    background-color: rgba(70, 119, 59, 0.973);
    border-radius: 30px;
    border: 5px solid rgb(19, 43, 16);

}


.on,
.del,
.off,
.add,
.sub,
.per,
.div,
.mul,
.se,
.e,
.n,
.f,
.fv,
.sx,
.o,
.tw,
.th,
.z,
.d,
.eq {
    /* height 70 */
    height: 80px;
    /* 70 width */
    width: 91.5px;
    border: 0;
    /* 15 border-radius */
    border-radius: 30px; 
    margin: 5px; 
    /* margin-left: -200px; */
    /* font size 25px */
    font-size: 30px;
    font-weight: medium;
    cursor: pointer;
    border: 2px solid black;

}


.on {
    background-color: rgb(163, 7, 7);
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}

.off {
    background-color: rgba(11, 238, 11, 0.692);
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.del {
    background-color: rgba(255, 255, 0, 0.822);
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.add,
.sub,
.per,
.div,
.mul {
    background-color: rgba(0, 255, 255, 0.822);
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.se,
.e,
.n,
.f,
.fv,
.sx,
.o,
.tw,
.th,
.z,
.d,
.eq {
    background-color: rgb(216, 211, 211);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.se {
    cursor: pointer;
    transition-duration: 0.4s;
}

.se:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.e {
    cursor: pointer;
    transition-duration: 0.4s;
}

.e:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.n {
    cursor: pointer;
    transition-duration: 0.4s;
}

.n:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.f {
    cursor: pointer;
    transition-duration: 0.4s;
}

.f:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.fv {
    cursor: pointer;
    transition-duration: 0.4s;
}

.fv:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sx {
    cursor: pointer;
    transition-duration: 0.4s;
}

.sx:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.o {
    cursor: pointer;
    transition-duration: 0.4s;
}

.o:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tw {
    cursor: pointer;
    transition-duration: 0.4s;
}

.tw:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.th {
    cursor: pointer;
    transition-duration: 0.4s;
}

.th:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z {
    cursor: pointer;
    transition-duration: 0.4s;
}

.z:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.d {
    cursor: pointer;
    transition-duration: 0.4s;
}

.d:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.eq {
    cursor: pointer;
    transition-duration: 0.4s;
}

.eq:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.on {
    cursor: pointer;
    transition-duration: 0.4s;
}

.on:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.off {
    cursor: pointer;
    transition-duration: 0.4s;
}

.off:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.add {
    cursor: pointer;
    transition-duration: 0.4s;
}

.add:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sub {
    cursor: pointer;
    transition-duration: 0.4s;
}

.sub:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mul {
    cursor: pointer;
    transition-duration: 0.4s;
}

.mul:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.div {
    cursor: pointer;
    transition-duration: 0.4s;
}

.div:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.per {
    cursor: pointer;
    transition-duration: 0.4s;
}

.per:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.del {
    cursor: pointer;
    transition-duration: 0.4s;
}

.del:hover {
    transform: scale(0.9);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


